/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    color: #4a47a3;
}

blockquote {
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

form {
    width: 80%;
    max-width: 400px;
    margin: 50px auto;
    background: #fff;
    padding: 30px;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #5d55fa;
    font-weight: bold;
    transition: color 0.3s ease;
}

label:hover {
    color: #4d2c91;
    cursor: pointer;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box; /* Ensures padding doesn't increase the width */
}


input[type="submit"] {
    display: block;
    width: 100%;
    background-color: #4a47a3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #3b3490;
}


.success {
    font-weight: bold;
    color: #155724; /* A dark green for contrast and legibility */
    background-color: #c3e6cb; /* A light green that contrasts with yellow */
    text-align: center;
    margin: 20px 0;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #155724;
}

.failure {
    font-weight: bold;
    color: #721c24; /* A dark red for contrast and legibility */
    background-color: #f8d7da; /* A light red that contrasts with yellow */
    text-align: center;
    margin: 20px 0;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #721c24;
}
